.container {
  border: 5px solid #ffcc5c;
  display: flex;
  /* default */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
}

/* .home {
  margin-right: auto;
} */
/* .logout {
  margin-right : 10%;
  margin-left: auto;
} */
/* .search {
  margin-left: auto;
} */

/* .container > div {
  flex: 1;
} */

/* 숫자와 상관없이 비율로 적용 > ex) 합해서 1이면 소수 단위로, 합해서 100이면 자연수단위로..*/
.home{
  flex : 50; 
}
.search {
  flex: 50;
}
.logout{
  flex : 100;
}
/* Sign up for the full Flexbox course here:
http://eepurl.com/dhjgB5
*/